# Bundler Files
/Gemfile.lock

# Ignore everything in /data/
/data/

# Ignore databases
*.sqlite3
*.sqlite3-journal

# Logs
*.log

# Configuration files
*.yml
!.rubocop.yml
!.travis.yml
!codecov.yml

# Built .gem files
*.gem

# Coverage data
/coverage/
