# Bundler Files
/Gemfile.lock

# Ignore everything in /data/
/data/

# Logs
*.log

# Configuration files
*.yml
!.codecov.yml
!.rubocop.yml
!.travis.yml

# Built .gem files
*.gem

# Coverage data
/coverage/
